@model AccessJob.Models.Apply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionApplyingFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionApplyingFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanYouWorkInTheUK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanYouWorkInTheUK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PINExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PINExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinRelationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinRelationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextOfKinPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextOfKinPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentCompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentCompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentResponsibilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentResponsibilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentReasonForLeaving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentReasonForLeaving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentDateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentDateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstEmploymentDateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstEmploymentDateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentCompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentCompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentResponsibilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentResponsibilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentReasonForLeaving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentReasonForLeaving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentDateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentDateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondEmploymentDateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondEmploymentDateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentCompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentCompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentResponsibilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentResponsibilities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentReasonForLeaving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentReasonForLeaving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentDateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentDateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdEmploymentDateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdEmploymentDateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstAwardingInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstAwardingInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDateAwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDateAwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondAwardingInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondAwardingInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondDateAwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondDateAwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdAwardingInstitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdAwardingInstitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdDateAwarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdDateAwarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmunizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmunizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdministered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdministered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Convicted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convicted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfCrime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfCrime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDisability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDisability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredWithOtherAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredWithOtherAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstRefereeNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstRefereeNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondRefereeNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondRefereeNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowDidYouKnowAboutUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowDidYouKnowAboutUs)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
